body {
    background-color: rgb(124, 124, 124);
    /* background-image: "https://media.istockphoto.com/id/477679508/photo/gray-brushed-metal-texture-background-steel-or-aluminium.jpg?s=612x612&w=0&k=20&c=eaTrJihfJYPkpdIrVQP9W2qDvGYw6uLLMWQFOpDRkdA="; */
    color: white;
}


header {
    background-color: blueviolet;
    text-align: center;
    max-width: 900px;
    border-radius: 10px;
    border-color: black;
    color: white;
    border-style: solid;
}


div {
    text-align: center;
    max-width: 900px;
    color: white;
    
}

h2 {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    color: white;
    max-width: 900px;
}

h3 {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    color: white;
    max-width: 900px;
}